
.container {
    margin-top: 20px;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  input.form-control, textarea.form-control {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  textarea.form-control {
    resize: vertical; /* Allow vertical resizing only */
  }
  
  .btn-primary {
    background-color:black;
    border-color:black;
  }
  
  .btn-primary:hover {
    background-color:gray;
    border-color: black;
  }
  